@model ProductAddVM
@{
    ViewData["Page"] = "Add Product";
}
<form class="row g-3" method="post" enctype="multipart/form-data">
    <div class="col-md-6">
        <label for="1" class="form-label">Product Name</label>
        <input asp-valid asp-for="Name" class="form-control" id="1">
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>
    <div class="col-md-6">
        <label for="2" class="form-label">Product Price</label>
        <input min="0" step="0.1" asp-for="Price" class="form-control" id="2">
        <span class="text-danger" asp-validation-for="Price"></span>
    </div>
    <div class="col-md-6">
        <label for="3" class="form-label">Product Count</label>
        <input min="0" asp-for="Count" class="form-control" id="3">
        <span class="text-danger" asp-validation-for="Count"></span>
    </div>
    <div class="col-md-6">
        <label for="4" class="form-label">Description</label>
        <input asp-valid asp-for="Description" class="form-control" id="4">
        <span class="text-danger" asp-validation-for="Description"></span>
    </div>

    <div class="col-md-12">
        <label for="5" class="form-label">Photo</label>
        <input asp-for="Photos" class="form-control" id="5">
        <span class="text-danger" asp-validation-for="Photos"></span>
    </div>

    <div class="col-md-4">
        <label for="8" class="form-label">Category</label>
        <select asp-for="ProductCategoryId" asp-items="@Model.Category">
            <option>Please select one</option>
        </select>
    </div>
    <div class="col-md-4">
        <label for="9" class="form-label">Brand</label>
        <select asp-for="ProductBrandId" asp-items="@Model.Brand">
            <option>Please select one</option>
        </select>
    </div>


    <div class="col-md-4">
        <label for="10" class="form-label">Color</label>
        <select asp-for="ProductColorId" asp-items="@Model.Color">
            <option>Please select one</option>
        </select>
    </div>


    <div class="col-12">
        <button type="submit" class="btn btn-primary">Add product</button>
    </div>


</form>

@section ValidationScript{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
}