@model EmailEntity

<div class="newsletter-form mb-100">
    <form asp-controller="Subscription" asp-action="SendEmail" method="post">
        <input asp-for="ToEmail" type="email" name="ToEmail" class="nl-email" placeholder="Your E-mail">
        <input  type="submit" value="Subscribe" />
    </form>
</div> 


@*<h1>hi</h1>*@