@model CategoryIndexVM

@{
    ViewData["Page"] = "Category";
}

<div class="d-flex justify-content-start container">
    <span></span>
    <a asp-action="Add" class="btn btn-success">Add</a>

</div>

@foreach (var category in Model.categories)
{
    <table class="table container">
        <thead class="thead-dark">
            <tr>
                <th scope="col"> Category Name</th>
                <th scope="col">Edit </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@category.Name</td>

                <td>
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-controller="Category" asp-action="Delete" asp-route-id="@category.Id" class="btn btn-danger">Delete</a>
                        <a asp-controller="Category" asp-action="Update" asp-route-id="@category.Id" class="btn btn-warning">Update</a>
                    }
                    else
                    {
                        <a class="btn btn-danger invisible">Delete</a>
                        <a class="btn btn-warning invisible">Update</a>

                    }
                </td>

            </tr>
        </tbody>
    </table>
    }