@model CategoryUpdateVM

@{
    ViewData["Page"] = "Category Update";
}
<form class="row g-3" asp-controller="Category" asp-action="Update" method="post">
    <div class="text-danger" asp-validation-summary="All">
    </div>
    <div class="col-md-6">
        <label for="1" class="form-label">Category Name</label>
        <input asp-valid asp-for="Name" type="text" class="form-control" id="1">
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>

    <div class="col-12">
        <button type="submit" class="btn btn-primary">Update</button>
    </div>
</form>